$primary-color: #404040;

.Footer{
	background-color: $primary-color;
	padding-top:2%;
	padding-bottom:2%;
    font-family:Arial, Helvetica, sans-serif;
	
	a {
		font-size: 125%;
		text-decoration: none !important;

		p {
			font-size: 1px;
			visibility: hidden;
		}
	}

	span, .fa-facebook {
		font-size: 125%;
		text-align: center !important;
		color: white;
	}

	span:hover {
		color: green;
		cursor: pointer;
	}

	h2 {
		text-align: center;
		font-size: 200%;
		color:white;
		margin-top:0px !important;
		margin-bottom:0px !important;
	}

	h3 {
		width:100%;
		color: white;
		text-align: center;
	}

	h2:hover {
		color: green;
	}

	.Col {
		max-width: 50%;
		display:block;
		margin: auto;
	}

	.active {
		h2 {
			color:green;
		}
	}

	.social-media {
		padding-top:1%;
		margin-left: 2%;
		margin-right: 2%;
		font-size: 150%;
	}

	p {
		text-align: center !important;
	}

	#footer-logo{
		min-width: 64px;
		max-width: 128px;
		width:8%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}