$primary-color: #404040;

.Footer {
	background-color: $primary-color;
	padding-bottom:2%;
    font-family:Arial, Helvetica, sans-serif;
	
	.subscribe-div {
		background-color: rgb(36, 36, 36);
		padding-top: 2%;
		padding-bottom: 2%;
		margin-top: 0px !important;
	}

	.subscriber {
		margin: auto;
		font-size: medium;
		padding: 0px !important;
		text-align: center;
		vertical-align: middle;
		align-content: center;

		p {
			margin: auto;
			text-align: center;
			min-width: 250px;
			max-width: 300px;
			margin-top: 1%;
			margin-bottom: 1%;
			color: black !important;
			background-color: white;
			border-radius: 5px;
			padding: 1px;
			font-size: large !important;
			border: 1px solid black;
		}

		input {
			font-size: medium;
			margin: auto !important;
			min-width: 300px !important;
			max-width: 300px !important;
			margin-left: 0px;
			margin-right: 0px;
			border-top: 3px solid black;
			border-left: 3px solid black;
			border-right: 3px solid black;
		}

		button {
			margin: auto !important;
			min-width: 300px !important;
			max-width: 300px !important;
			border-top: 3px solid black;
			border-left: 3px solid black;
			border-right: 3px solid black;
			border-bottom: 3px solid black;
			padding: 0px !important;
			font-size: x-large;
			color: black;
			background-color: rgb(153, 153, 153);
			text-decoration: none !important;
			text-align: center;
		}

		button:hover {
			color: green;
		}
	}

	a {
		font-size: 125%;
		text-decoration: none !important;
		p {
			font-size: 1px;
			visibility: hidden;
		}
	}

	span, .fa-facebook {
		font-size: 250%;
		text-align: center !important;
		color: white;
	}

	span:hover {
		color: green;
		cursor: pointer;
	}

	h2 {
		text-align: center;
		font-size: 200%;
		color:white;
		margin-top:0px !important;
		margin-bottom:0px !important;
	}

	h3 {
		width:100%;
		color: white;
		text-align: center;
	}

	h2:hover {
		color: green;
	}

	.Col {
		max-width: 50%;
		display:block;
		margin: auto;
		margin-top: 1%;
	}

	.active {
		h2 {
			color:green;
		}
	}

	.social-media {
		padding-top: 1%;
		margin-left: 2%;
		margin-right: 2%;
	}

	.social-center {
		text-align: center;
	}
}