.overlay-model{
    display:none;
	width:100%;
	overflow: auto; 
	margin-left:5%;
	position:fixed;
	height:600px;
	background-color: #fefefe;
}

.parrallax{
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-image:url("Images/Main/Test.jpg");
}

@keyframes bottomFadeOut {
    0% {
        bottom: -5rem;
        opacity: 0;
    }

    75% {
        opacity: 0.85;
    }

    100% {
        opacity: 0.85;
    }
}

.Carousel-Container {
    height: 600px;
    h1 {
		margin-left:0px;
        margin-top: 0% !important;
        text-align: center;
		position:relative;
		top: 50%;
		left: 50%;
		width:40%;
		background-color:black;
		color:white;
		transform: translate(-50%, -50%);
		animation-name:bottomFadeOut;
        animation-duration:1.8s;
        padding:1.5%;
        opacity:0.85;
        border-radius:10px;
        text-overflow: wrap;
        font-size: 250%;
    }
}

.Container {
    font-family: Arial, Helvetica, sans-serif !important;
}

.Left-Nav{
	margin-left:1%;
	height:800px;
	background-color: white;
	display:inline-block;
	text-align:left;
    width:20%;
}

.Content {
    text-align: center;
    vertical-align: top;
    display: inline-block;
    width: 79%;
    h1{
        font-size: 400% !important;
    }
    p{
        font-size: 200%;
    }
    h2{
        font-size: 300% !important;
    }
}

.Product-Cards{
	text-align:left;
}

#bottom-space{
	margin-top:2%;
}
@media screen and (max-width: 600px) {
    .overlay-model{
        z-index: 1 !important;
    }
    .Content{
        min-height: 800px;
        text-align: center;
        vertical-align: top;
        display: inline-block;
        width: 100%;
        h1{
            font-size: 400% !important;
        }
        p{
            font-size: 200%;
        }
        h2{
            font-size: 300% !important;
        }
        .Product-Cards{
            text-align: center;
        }
    }
    .mobile{
        display:none;
    }
}