.remove-button{
	text-align:center;
	padding:0px !important;
	border:none;
}

.product-card {
    position: relative;
    text-align: center;
    margin-left: 2%;
    margin-top: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow-wrap: break-word;
    display: inline-block;
    transition: transform .2s;
    min-width:300px;
}

.product-card:hover{
	transform: scale(1.05);
	.product-header{
       opacity:0.8;
	 }
}

.product-header {
    //background-image: url('https://source.unsplash.com/user/erondu/600x400');
    background-repeat: no-repeat;
    min-height:200px;
    //height:200px
    background-size:auto;  
}

.product-header:hover{
    color:black;
}

.product-name{
	margin-top:0px !important;
    padding-top:2%;
    font-size: 250% !important;
}

.price{
	color:grey;
}

.product-button {
    display: inline-block;
    text-align: center;
    color: white;
    background-color: black;
    width: 100% !important;

    .btn {
        border-radius: 0px !important;
        text-align: center;
        width: 20%;
        padding-bottom: 4%;
        padding-top: 4%;
        background: inherit;
        border: none;
        color: white;
        font-size: 20px !important;
        cursor: pointer;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    button:hover {
        background-color: green;
        color: white;
    }
}

h3{
	width:60%;
	display:inline-block;
	margin:0px;
}

.sold{
    filter: grayscale(100%);
    color:black;
}

.soldout{
    margin-top:0px !important;
    font-size: 200% !important;
    filter:grayscale(0%) !important;
    color:red;
}

.reject:hover{
    background-color:red !important;
}