.glyphicon glyphicon-shopping-cart{
    display: block;
}

legend{
    border: none;
    margin-left: 4%;
    padding-left:1%;
    padding-right:1%;
    margin-top: 5%;
    width:auto;
    display: block;
    font-size: 300% !important;
}

form{
    margin-left:5%;
    margin-right:5%;
    padding-bottom:5%;
}

fieldset{
    border:2px solid black;
    border-radius: 10px;
}

label{
    font-size: 150%;
    font-weight: bolder;
    display: block;
}

select{
    font-size: 150%;
    width: 210px;
}

.inner{
    float:left;
    margin-left:3%;
    padding:1%;
    width:95%;
    font-size: 160%;
}

input{
    font-size: 150%;
    border-radius: 5px;
    -moz-box-shadow-bottom: 4px 4px 4px gray;
    -webkit-box-shadow-bottom: 4px 4px 4px gray;
    box-shadow: 1px 1px 1px gray;
    display: block;
    transition: 0.25s;
}

input:focus{
    width: 280px;
    border-color: #2ecc71;
  }

select {
    display: block;
}

.Checkout_Button{
    font-size: 100% !important;
    background-color:rgb(63, 133, 226);
    border:1px solid rgb(88, 23, 163);
    color:white;
    padding-top:1%;
    padding-bottom:1%;
    border-radius:10px;
    width:150px;
    -moz-box-shadow-bottom: 4px 4px 4px gray;
    -webkit-box-shadow-bottom: 4px 4px 4px gray;
    box-shadow: 1px 1px 1px gray;
}

.Checkout_Button:hover{
    background-color: rgb(39, 216, 77);
    color: white;
}

.NoMargin{
    margin-left:0px;
}

.checkout {
    display:block;
    margin-bottom: 1%;
    width:100%;
    border-radius: 5px;
    padding-top:1.5%;
    padding-bottom:1.5%;
    border: 1px solid #DDDDDD;
    -moz-box-shadow-bottom: 4px 4px 4px gray;
    -webkit-box-shadow-bottom: 4px 4px 4px gray;
    box-shadow: 1px 1px 1px gray;
    padding-left: 1%;
}

input[type=text] {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
input[type=text]:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
}

.toasty{
      font-weight: bold;
      font-size: 150%;
      button{
          width:30px !important;
      }
}