legend{
    margin-left:10%;
    padding-left:1%;
    padding-right:1%;
    width:auto;
}

form{
    margin-left:5%;
    margin-right:5%;
    padding-bottom:5%;
}

fieldset{
    border:2px solid black;
    border-radius: 10px;
}

label{
    display: block;
}

.inner{
    float:left;
    margin-left:3%;
    padding:1%;
    width:95%;
}

input{
    border-radius: 5px;
}

.Checkout_Button{
    background-color:lightgray;
    border:1px solid black;
    color:black;
    padding-top:1%;
    padding-bottom:1%;
    border-radius:10px;
    width:200px;
}

.Checkout_Button:hover{
    color:rgb(45, 81, 201);
}

.NoMargin{
    margin-left:0px;
}

.checkout {
    display:block;
    padding-top: 1%;
    padding-bottom: 1%;
}

input[type=text] {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
  }
   
  input[type=text]:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
  }