.verify {
    margin-top: 10%;
    text-align: center;
    min-height: 500px;
}

.container-products {
    font-size: 15px;
    input {
        margin-top: 1%;
        margin-bottom: 1%;
    }
    form {
        padding-bottom: 1% !important;
    }
    .sidebysideF {
        display: inline-block;
        width: 45%;
    }
    @media screen and (max-width: 600px) {
        .cont {
            width:75%;
        }
    }
    @media screen and (min-width: 601px) {
        .cont {
            width:40%;
        }
    }
}

.MasterPageButton {
    text-decoration-style: none;
    border:1px solid black;
    border-radius: 10px;
    padding:1%;
    width: 10%;
}