$primary-color: black;
$secondary-color: white;
nav {
    z-index: 1;
    background-color: $primary-color;
    box-shadow: 0px 0px 3px 3px black;
    font-family: Arial, Helvetica, sans-serif;
    #Company_Name {
        display: inline-block;
        margin-left: 1%;
        margin-top: 0px !important;
        color: $secondary-color;
        font-size: 300%;
    }
    #cart {
        display: block;
        color: $secondary-color;
        margin-top:10%;
        font-size: 200%;
    }
    #cart:hover {
        color: green;
    }
    #cart-overlay {
        background-color: black;
        border: 0px !important;
    }
    #user {
        text-align: center;
        font-size: 24px;
        width: 5%;
        border-radius: 25px;
        border-bottom: 0px !important;
        padding-right: 40%;
        display: inline;
    }
    #user:hover {
        color:green !important;
    }
    #user_mobile {
        font-size: 300% !important;
    }
    #user_mobile:hover {
        color:green !important;
    }
    button {
        color:white !important;
        border-bottom:1px solid white;
    }
    .FormDropdown {
        padding: 3px;
        width: 10%;
        display:block;
    }
    .Right_Buttons {
        margin-right:6%;
		float:right;	
        text-align: center;
        display: flex;
    }
    .Right_Buttons_mobile {

        /* Position and sizing of burger button */
        .bm-burger-button {
            position: fixed;
            width: 36px;
            height: 30px;
            right: 30px;
            top: 8px;
            margin-top:2%;
            z-index:2 !important;
        }
        /* Color/shape of burger icon bars */
        .bm-burger-bars {
            background: #009225;
        }
        /* Color/shape of burger icon bars on hover*/
        .bm-burger-bars-hover {
            background: #009225;
        }

        h2:hover {
            color: #009225;
        }

        /* Color/shape of close button cross */
        .bm-cross {
            display: none;
        }
        /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
        .bm-menu-wrap {
            position: fixed;
            height: 100%;
        }
        /* General sidebar styles */
        .bm-menu {
            background-color: black;
            font-size: 1.15em;
            color:white;
            margin-top: 0%;
        }
        /* Morph shape necessary with bubble or elastic */
        .bm-morph-shape {
            fill: #000000;
        }
        /* Wrapper for item list */
        .bm-item-list {
            padding: 3em;
        }
        /* Individual item */
        .bm-item {
            display: inline-block;
            margin-top: 0px;
        }
    }

    @media screen and (max-width: 600px) {
        .mobile{
            display:none !important;
        }
        .notMobile{
            display: flex !important;
        }
    }
    
    @media screen and (min-width: 601px) {
        .mobile{
            display:flex !important;
        }
        .notMobile{
            display:none !important;
        }
    }
    
}

.fixed-nav {
    z-index: 1;
    top: 0;
    position: fixed;
    width: 100%;
}

#logo {
    min-width: 64px;
    max-width: 5%;
    min-height: 64px;
    max-height: 5%;
    margin-left: 3%;
    margin-top: 0px !important;
}

.checkout_render {
    display: none !important;
}
