.model {
    z-index: 1;
    left: 0;
    right: 0;
    position: fixed;
    height: 100%;
    width:75%;
    margin-left: 15%;
    background-color: white;
    vertical-align: middle;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
    overflow-y:scroll;
    top:33px;
    border:0.5px solid black;

    .product-name{
        padding-top:3%;
        text-align:center;
        font-size: 400% !important;
    }
}

@media only screen and (max-width: 600px) {
    .model {
        z-index: 1;
        width:100%;
        height: 100%;
        margin-left:0px;
        top:66px;
    }
}
@media only screen and (min-width: 601px) {
    .model {
        z-index: 3;
      }
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

.bi{
    border:2px solid black;
    border-radius:20px;
}

.bi:hover{
    border:2px solid red;
}

.Close{
    z-index:2;
    position:absolute;
    width:1%;
    float:right;
    text-align:right;
    border-bottom:none;
    margin-left:85% !important;
    h2{
        font-size: 400%;
    }
}

.pad{
    margin-left:10%;
}

#end{
    padding-bottom:5%;
}

p{
    font-size: 200%;
    margin-right:8%;
    margin-left:8%;
}

.carousel-indicators li{
    display: none;
}

.carousel-control-next{
    height:70%;
    color:black;
    margin-top: 15%;
}

.carousel-control-prev{
    height:70%;
    margin-top: 15%;
}

.bi-x:hover {
    color: red;
}