.glyphicon glyphicon-shopping-cart {
    display: block;
}

.recaptcha {
    margin-top: 1%;
}

legend {
    border: none;
    margin-left: 4% !important;
    padding-left:1% !important;
    padding-right:1% !important;
    margin-top: 1% !important;
    width:auto !important;
    display: block !important;
    font-size: 300% !important;
}

form {
    margin-left:5% !important;
    margin-right:5% !important;
    padding-bottom:5% !important;
}

fieldset {
    border:2px solid black !important;
    border-radius: 5px !important;
}

#chlbl {
    margin-left:1%;
    display: inline !important;
}

label {
    display: block;
}

select {
    font-size: 100%;
}

.inner {
    margin-left:3%;
    padding:1%;
    width:50%;
    font-size: 160%;
    float: left;
}

#vl {
    float:left;
    width:1%;
    height:460px;
    border-left: 1px solid black;
}

.sidebyside {
    width:50%;
    float:left;
}

input {
    border-radius: 2px;
    -moz-box-shadow-bottom: 4px 4px 4px gray;
    -webkit-box-shadow-bottom: 4px 4px 4px gray;
    box-shadow: 1px 1px 1px gray;
    display: block;
    transition: 0.25s !important;
}

.TopForm {
    display: none;
}

.Checkout_Button {
    font-size: 100% !important;
    background-color:rgb(63, 133, 226);
    border:1px solid rgb(88, 23, 163);
    color:white;
    padding-top:1%;
    padding-bottom:1%;
    border-radius:2px;
    width:150px;
    -moz-box-shadow-bottom: 4px 4px 4px gray;
    -webkit-box-shadow-bottom: 4px 4px 4px gray;
    box-shadow: 1px 1px 1px gray;
}

.Checkout_Button:hover {
    background-color: rgb(39, 216, 77);
    color: white;
}

.NoMargin {
    margin-left:0px !important;
}

.checkout {
    display:block !important;
    margin-bottom: 1% !important;
    width:100%;
    border-radius: 5px;
    padding-top:1.5%;
    padding-bottom:1.5%;
    border: 1px solid #DDDDDD;
    -moz-box-shadow-bottom: 4px 4px 4px gray;
    -webkit-box-shadow-bottom: 4px 4px 4px gray;
    box-shadow: 1px 1px 1px gray;
    padding-left: 1%;
}

input[type=text] {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
input[type=text]:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
}

input[type=email] {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
   
input[type=email]:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
}

.toasty {
      font-weight: bold;
      font-size: 150% !important;
      button {
          width:30px !important;
      }
}

.RightForm {
    width:45% !important;
    float: left;
    text-align: center;
}

.displayCart {
    display: inline-block !important;
    font-size: 20px;
    h1 {
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
    }
    h2 {
        text-align: center !important;
    }
    h4 {
        text-align: center;
    }
    img {
        display: inline-block;
        width: 171px;
        height: 128px;
        margin-left: auto;
        margin-right: auto;
    }
    .CartItems {
        .itemNameQuant {
            width:100%;
            text-align: center;
        }
        #product-near-trash {
            display: inline-block;
        }
        .bi-trash:hover {
            cursor: pointer;
            color: red;
        }
    }
    .cartCarousel {
        z-index: 0 !important;
    }

    .slider-single-content {
        box-shadow: none !important;
    }
    .slider-right, .slider-left {
        display:none !important;
    }
    .cartCarousel {      
        width: 100%;
        text-align: center;
    }
    
    .carousel-control-next {
        height: 100%;
        margin-top: 0px !important;
        filter: invert(100%);
    }
    
    .carousel-control-prev {
        height: 100%;
        margin-top: 0px !important;
        filter: invert(100%);
    }

    .carousel-control-next-icon:after {
        color: black;
    }

    .carousel-control-prev-icon:after {
        color: black;
    }

    .removeItem {
        display: inline-block;
        width: 0px;
        padding-bottom: 0px;
        padding-top: 0px;
        border-bottom: 0px;
    }

    .removeItem:hover {
        color: red;
    }
}

@media only screen and (max-width: 1000px) {
    .checkout{
        padding:3%;
    }
    form {
        button{
            margin-top: 2% !important;
            width:80% !important;
            text-align: center;
            padding:2% !important;
            margin-left:10% !important;
            margin-bottom:2% !important;
        }
    }
    .inner {
        width:95% !important;
    }
    .RightForm {
        display:none;
    }
    .TopForm {
        width:100% !important;
        display:inline-block !important;
        .displayCart {
            width:50% !important;
            margin-left:25%;
        }
    }
    #vl {
        display: none;
    }
}

@media only screen and (max-width: 500px) {

    .sidebyside {
        width: 100%;
        margin-bottom: 2%;;
    }
    label {
        display: inline-block;
        width: 140px;
    }
    input {
        display: inline-block;
    }
    select {
        display: inline-block;
    }
}

