button{
	width:100%;
	border:none;
	background:none;
	border-bottom:1px solid black;
	color:black;
	margin:0px 0px 0px 0px!important;
	padding-top:4%;
	padding-bottom:4%;
	text-align:left;
	font-family:Helvetica !important;
}

button:hover{
	cursor:pointer;
	color:green;
}

.s2{
	font-size: 300% !important;
}

.active {
	.s2 {
		color:green;
	}
}
